<a href="https://colab.research.google.com/github/BagasDwiFirmansyah/EDA02TUGASBAGAS/blob/main/cs02_eda_kelompok_9.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np

In [2]:
try: # Running Locally, yakinkan "file_" berada di folder "data"
    mengajar = pd.read_csv('data/mengajar.csv', encoding='utf8')
    dosen = pd.read_csv('data/tb_dosen.csv', encoding='utf8')
    kelas = pd.read_csv('data/tb_kelas.csv', encoding='utf8')
    krs = pd.read_csv('data/tb_krs.csv', encoding='utf8')
    mahasiswa = pd.read_csv('data/tb_mahasiswa.csv', encoding='utf8')
    kuliah = pd.read_csv('data/tb_mata_kuliah.csv', encoding='utf8')
    nilai = pd.read_csv('data/tb_nilai.csv', encoding='utf8')
except: # Running in Google Colab
    !mkdir data
    !wget -P data/ https://github.com/BagasDwiFirmansyah/EDA02TUGASBAGAS/blob/main/data/mengajar.csv
    !wget -P data/ https://github.com/BagasDwiFirmansyah/EDA02TUGASBAGAS/blob/main/data/tb_dosen.csv
    !wget -P data/ https://github.com/BagasDwiFirmansyah/EDA02TUGASBAGAS/blob/main/data/tb_kelas.csv\
    !wget -P data/ https://github.com/BagasDwiFirmansyah/EDA02TUGASBAGAS/blob/main/data/tb_krs.csv
    !wget -P data/ https://github.com/BagasDwiFirmansyah/EDA02TUGASBAGAS/blob/main/data/tb_mahasiswa.csv
    !wget -P data/ https://github.com/BagasDwiFirmansyah/EDA02TUGASBAGAS/blob/main/data/tb_mata_kuliah.csv
    !wget -P data/ https://github.com/BagasDwiFirmansyah/EDA02TUGASBAGAS/blob/main/data/tb_nilai.csv
    mengajar = pd.read_csv('data/mengajar.csv', encoding='utf8')
    dosen = pd.read_csv('data/tb_dosen.csv', encoding='utf8')
    kelas = pd.read_csv('data/tb_kelas.csv', encoding='utf8')
    krs = pd.read_csv('data/tb_krs.csv', encoding='utf8')
    mahasiswa = pd.read_csv('data/tb_mahasiswa.csv', encoding='utf8')
    kuliah = pd.read_csv('data/tb_mata_kuliah.csv', encoding='utf8')
    nilai = pd.read_csv('data/tb_nilai.csv', encoding='utf8')
    
mengajar.shape, dosen.shape, kelas.shape, krs.shape, mahasiswa.shape, kuliah.shape, nilai.shape

((14, 4), (4, 6), (4, 4), (7, 6), (15, 8), (9, 3), (33, 7))

In [3]:
#melihat data dari tabel mengajar
mengajar

    NIDN kode_MK Semester  Tahun
0    123   KAL01   ganjil   2020
1    123   KAL01   ganjil   2019
2    123   STA01    genap   2020
3    123   MAT01    genap   2020
4    123   STA02   ganjil   2019
5    234    OR01   ganjil   2019
6    234    CS01    genap   2020
7    787   KAL01   ganjil   2021
8    787   KAL01   ganjil   2022
9    787   STA02   ganjil   2021
10   345   MAT73    genap   2020
11   345   MAT53    genap   2019
12   345   STA02   ganjil   2019
13   345   KAL02   ganjil   2020

In [4]:
#melihat data dari tabel dosen
dosen

,NIDN,nama,email,Pendidikan_Terakhir,Telephone,Jenis_Kelamin
0,123,Andri Basuki,anbr@googol.com,S3,11230000,Pria
1,234,zulfikar,dosen@email.com,S3,22340000,Pria
2,787,yudi,yudi@email.com,S2,55670000,Pria
3,345,Annisa Fitria,annniza@yyyy.com,S2,88970000,Wanita

In [5]:
#melihat data dari tabel kelas
kelas

  kode_kelas nama_kelas lokasi_kelas  Kapasitas
0      SIS1J  Reguler A     Gedung D         10
1       D101  Reguler A     Gedung D         15
2       D212  Reguler B     Gedung D         40
3       P601  Reguler B   Gedung PLT         30

In [6]:
#melihat data dari tabel krs
krs

   id id_mata_kuliah kode_kelas     nim  tahun semester
0   1          KAL01      SIS1J  193001   2021    genap
1   2          STA01       D101  193001   2021    genap
2   3           OR01       D212  193001   2021    genap
3   4          MK002       P601  194001   2021    genap
4   5          MK002       P601  194001   2021    genap
5   6          MK003      SIS1J  194001   2021    genap
6   7          MK004       D101  194001   2021    genap

In [7]:
#melihat data dari tabel mahasiswa
mahasiswa

,nim,nama,email,Gender,Asal_Sekolah,Telephone,Angkatan,Asal_Daerah
0,194015,Muhammad Amir,Samarinda@inet.com,Pria,SMU,12345678,2019,Luar Daerah
1,194001,Samsul Kurnia,Bontang@email.com,Pria,SMU,12345679,2019,Lokal
2,194002,Bambang Arifin,Sangata@inet.com,Pria,SMU,12345680,2019,Luar Daerah
3,194003,Udin,Udin@inet.com,Pria,MA,12345681,2019,Lokal
4,194004,Iwan,Iwan@inet.com,Pria,MA,12345682,2019,Luar Daerah
5,194005,Bambang Arifin,Bambang Arifin@inet.com,Pria,SMK,12345683,2019,Lokal
6,194006,Wati,Wati@inet.com,Wanita,SMK,12345684,2019,Lokal
7,194007,Ani,Ani@inet.com,Wanita,SMK,12345685,2019,Luar Daerah
8,194008,Rahmawati,Rahmawati@inet.com,Wanita,SMU,12345686,2020,Lokal
9,194009,Asep,Asep@inet.com,Pria,SMU,12345687,2020,Luar Daerah
10,194010,Rina,rina@inet.com,Wanita,MA,12345688,2020,Lokal
11,194011,Sari,sari@inet.com,Wanita,MA,12345689,2020,Lokal
12,194012,Bowo,Bowo@inet.com,Pria,SMU,12345690,2020,Luar Daerah
13,194013,Budi,Budi@inet.com,Pria,SMK,12345691,2020,Lokal
14,194014,Putri,putri@inet.com,Wanita,SMK,12345692,2020,Lokal

In [8]:
#melihat data dari tabel kuliah
kuliah

  id_mata_kuliah           nama_mata_kuliah  SKS
0          KAL01             Kalkulus Dasar    3
1          STA01       Statistika Elementer    3
2          MAT01           Matematika Dasar    3
3          STA02      Statistika Matematika    4
4           OR01         Operation Research    4
5           CS01  Pendahuluan Ilmu Komputer    3
6          MAT73            Aljabar Abstrak    4
7          MAT53             Aljabar linear    3
8          KAL02            Kalkulus Lanjut    4

In [9]:
#melihat data dari tabel nilai
nilai

       nim id_mata_kuliah  NIDN  nilai Semester  Tahun     rand
0   194015          KAL01   123     70   ganjil   2019  0.50463
1   194001          KAL01   123     80   ganjil   2019      NaN
2   194002          KAL01   123     85   ganjil   2019      NaN
3   194003          KAL01   123     90   ganjil   2019      NaN
4   194004          KAL01   123     92   ganjil   2019      NaN
5   194005          KAL01   123     91   ganjil   2019      NaN
6   194006          KAL01   123     93   ganjil   2019      NaN
7   194007          KAL01   123     85   ganjil   2019      NaN
8   194008          KAL01   787     60   ganjil   2020      NaN
9   194009          KAL01   787     63   ganjil   2020      NaN
10  194010          KAL01   787     62   ganjil   2020      NaN
11  194011          KAL01   787     61   ganjil   2020      NaN
12  194012          KAL01   787     70   ganjil   2020      NaN
13  194013          KAL01   787     90   ganjil   2020      NaN
14  194014          KAL01   787     88   ganjil   2020      NaN
15  194004           CS01   234     90    genap   2020      NaN
16  194005           CS01   234     92    genap   2020      NaN
17  194006           CS01   234     85    genap   2020      NaN
18  194007           CS01   234     55    genap   2020      NaN
19  194008           CS01   234     60    genap   2020      NaN
20  194009           CS01   234     91    genap   2020      NaN
21  194010           CS01   234     90    genap   2020      NaN
22  194015          STA02   345     40   ganjil   2021      NaN
23  194002          STA02   345     50   ganjil   2021      NaN
24  194004          STA02   345     56   ganjil   2021      NaN
25  194007          STA02   345     70   ganjil   2021      NaN
26  194008          STA02   345     72   ganjil   2021      NaN
27  194011          STA02   345     31   ganjil   2021      NaN
28  194014          STA02   345     88   ganjil   2021      NaN
29  194001          KAL02   345     55   ganjil   2020      NaN
30  194002          KAL02   345     60   ganjil   2020      NaN
31  194004          KAL02   345     65   ganjil   2020      NaN
32  194007          KAL02   345     74   ganjil   2020      NaN

#**Nomor 1**
Apakah ada dosen yang cenderung memberikan nilai cenderung lebih tinggi (atau lebih rendah) dibandingkan dosen lainnya?

In [10]:
nilai_dosen = nilai.groupby([nilai['NIDN']]).mean()[['nilai']]
nilai_dosen = nilai_dosen.rename({'nilai': 'mean_nilai'}, axis=1)
nilai_dosen = pd.merge(dosen, nilai_dosen, left_on='NIDN', right_index=True)[['NIDN', 'nama', 'mean_nilai']]
nilai_dosen = nilai_dosen.set_index(['NIDN'])
std = nilai.groupby([nilai['NIDN']]).std()[['nilai']]
std = std.rename({'nilai': 'std_nilai'}, axis=1)
nilai_dosen = pd.concat([nilai_dosen, std], axis=1)
nilai_dosen

               nama  mean_nilai  std_nilai
NIDN
123    Andri Basuki   85.750000   7.741355
234        zulfikar   80.428571  15.883504
345   Annisa Fitria   60.090909  16.220077
787            yudi   70.571429  13.010984

**Interpretasi Nomor 1**

>>Berdasarkan tabel diatas didapat nilai rata-rata dan nilai standar deviasi dari keempat dosen. Berdasarkan kolom nilai rata-rata, dapat terlihat bahwa dosen bernama Pak Andri Basuki cenderung memberikan nilai yang lebih tinggi untuk para mahasiswanya. Sedangkan dosen bernama Ibu Annisa Fitria cenderung memberikan nilai yang lebih rendah untuk para mahasiswanya. Namun bila dilihat dari kolom nilai standar deviasi (simpangan baku), didapat sebaliknya bahwa Ibu Annisa Fitria cenderung memberikan nilai yang lebih tinggi sedangkan Pak Andri Basuki cenderung memberikan nilai yang lebih rendah untuk para mahasiswanya. Hal itu dikarenakan kedua dosen tersebut mengajar di jumlah kelas yang berbeda.

Sehingga dapat disimpulkan bahwa tidak ada dosen yang memberikan nilai cenderung lebih tinggi atau lebih rendah karena jumlah kelas masing-masing yang mereka ajar berbeda.

#**Nomor 2**
Menurut data yang ada, apakah terdapat perbedaan dalam pemberian nilai antara dosen dengan Pendidikan Terakhir S3 dan S2?

In [11]:
n0 = pd.merge(nilai,dosen, how = "outer")
n0

,nim,id_mata_kuliah,NIDN,nilai,Semester,Tahun,rand,nama,email,Pendidikan_Terakhir,Telephone,Jenis_Kelamin
0,194015,KAL01,123,70,ganjil,2019,0.50463,Andri Basuki,anbr@googol.com,S3,11230000,Pria
1,194001,KAL01,123,80,ganjil,2019,NaN,Andri Basuki,anbr@googol.com,S3,11230000,Pria
2,194002,KAL01,123,85,ganjil,2019,NaN,Andri Basuki,anbr@googol.com,S3,11230000,Pria
3,194003,KAL01,123,90,ganjil,2019,NaN,Andri Basuki,anbr@googol.com,S3,11230000,Pria
4,194004,KAL01,123,92,ganjil,2019,NaN,Andri Basuki,anbr@googol.com,S3,11230000,Pria
5,194005,KAL01,123,91,ganjil,2019,NaN,Andri Basuki,anbr@googol.com,S3,11230000,Pria
6,194006,KAL01,123,93,ganjil,2019,NaN,Andri Basuki,anbr@googol.com,S3,11230000,Pria
7,194007,KAL01,123,85,ganjil,2019,NaN,Andri Basuki,anbr@googol.com,S3,11230000,Pria
8,194008,KAL01,787,60,ganjil,2020,NaN,yudi,yudi@email.com,S2,55670000,Pria
9,194009,KAL01,787,63,ganjil,2020,NaN,yudi,yudi@email.com,S2,55670000,Pria
10,194010,KAL01,787,62,ganjil,2020,NaN,yudi,yudi@email.com,S2,55670000,Pria
11,194011,KAL01,787,61,ganjil,2020,NaN,yudi,yudi@email.com,S2,55670000,Pria
12,194012,KAL01,787,70,ganjil,2020,NaN,yudi,yudi@email.com,S2,55670000,Pria
13,194013,KAL01,787,90,ganjil,2020,NaN,yudi,yudi@email.com,S2,55670000,Pria
14,194014,KAL01,787,88,ganjil,2020,NaN,yudi,yudi@email.com,S2,55670000,Pria
15,194004,CS01,234,90,genap,2020,NaN,zulfikar,dosen@email.com,S3,22340000,Pria
16,194005,CS01,234,92,genap,2020,NaN,zulfikar,dosen@email.com,S3,22340000,Pria
17,194006,CS01,234,85,genap,2020,NaN,zulfikar,dosen@email.com,S3,22340000,Pria
18,194007,CS01,234,55,genap,2020,NaN,zulfikar,dosen@email.com,S3,22340000,Pria
19,194008,CS01,234,60,genap,2020,NaN,zulfikar,dosen@email.com,S3,22340000,Pria
20,194009,CS01,234,91,genap,2020,NaN,zulfikar,dosen@email.com,S3,22340000,Pria
21,194010,CS01,234,90,genap,2020,NaN,zulfikar,dosen@email.com,S3,22340000,Pria
22,194015,STA02,345,40,ganjil,2021,NaN,Annisa Fitria,annniza@yyyy.com,S2,88970000,Wanita
23,194002,STA02,345,50,ganjil,2021,NaN,Annisa Fitria,annniza@yyyy.com,S2,88970000,Wanita
24,194004,STA02,345,56,ganjil,2021,NaN,Annisa Fitria,annniza@yyyy.com,S2,88970000,Wanita
25,194007,STA02,345,70,ganjil,2021,NaN,Annisa Fitria,annniza@yyyy.com,S2,88970000,Wanita
26,194008,STA02,345,72,ganjil,2021,NaN,Annisa Fitria,annniza@yyyy.com,S2,88970000,Wanita
27,194011,STA02,345,31,ganjil,2021,NaN,Annisa Fitria,annniza@yyyy.com,S2,88970000,Wanita
28,194014,STA02,345,88,ganjil,2021,NaN,Annisa Fitria,annniza@yyyy.com,S2,88970000,Wanita
29,194001,KAL02,345,55,ganjil,2020,NaN,Annisa Fitria,annniza@yyyy.com,S2,88970000,Wanita
30,194002,KAL02,345,60,ganjil,2020,NaN,Annisa Fitria,annniza@yyyy.com,S2,88970000,Wanita
31,194004,KAL02,345,65,ganjil,2020,NaN,Annisa Fitria,annniza@yyyy.com,S2,88970000,Wanita
32,194007,KAL02,345,74,ganjil,2020,NaN,Annisa Fitria,annniza@yyyy.com,S2,88970000,Wanita

In [12]:
n1 = n0[["NIDN", "nama", "nilai", "Pendidikan_Terakhir"]]
n1

    NIDN           nama  nilai Pendidikan_Terakhir
0    123   Andri Basuki     70                  S3
1    123   Andri Basuki     80                  S3
2    123   Andri Basuki     85                  S3
3    123   Andri Basuki     90                  S3
4    123   Andri Basuki     92                  S3
5    123   Andri Basuki     91                  S3
6    123   Andri Basuki     93                  S3
7    123   Andri Basuki     85                  S3
8    787           yudi     60                  S2
9    787           yudi     63                  S2
10   787           yudi     62                  S2
11   787           yudi     61                  S2
12   787           yudi     70                  S2
13   787           yudi     90                  S2
14   787           yudi     88                  S2
15   234       zulfikar     90                  S3
16   234       zulfikar     92                  S3
17   234       zulfikar     85                  S3
18   234       zulfikar     55                  S3
19   234       zulfikar     60                  S3
20   234       zulfikar     91                  S3
21   234       zulfikar     90                  S3
22   345  Annisa Fitria     40                  S2
23   345  Annisa Fitria     50                  S2
24   345  Annisa Fitria     56                  S2
25   345  Annisa Fitria     70                  S2
26   345  Annisa Fitria     72                  S2
27   345  Annisa Fitria     31                  S2
28   345  Annisa Fitria     88                  S2
29   345  Annisa Fitria     55                  S2
30   345  Annisa Fitria     60                  S2
31   345  Annisa Fitria     65                  S2
32   345  Annisa Fitria     74                  S2

In [13]:
Dosen = nilai.groupby(nilai['NIDN']).mean()[['nilai']]
Dosen = Dosen.rename({'nilai': 'mean_nilai'}, axis=1) 
Dosen = pd.merge(dosen, Dosen, left_on='NIDN', right_index=True)
Dosen = Dosen[['NIDN', 'nama', 'Pendidikan_Terakhir', 'mean_nilai']]
std = nilai.groupby(nilai['NIDN']).std()[['nilai']]
std = std.rename({'nilai': 'std_nilai'}, axis=1) 
Dosen = Dosen.set_index(['NIDN'])
Dosen = pd.concat([Dosen, std], axis=1)
Dosen

               nama Pendidikan_Terakhir  mean_nilai  std_nilai
NIDN
123    Andri Basuki                  S3   85.750000   7.741355
234        zulfikar                  S3   80.428571  15.883504
345   Annisa Fitria                  S2   60.090909  16.220077
787            yudi                  S2   70.571429  13.010984

**Interpretasi NOMOR 2**

>>Berdasarkan tabel diatas didapat pendidikan terakhir, nilai rata-rata, dan nilai standar deviasi dari keempat dosen. Kemudian terlihat bahwa terdapat perbedaan pemberian nilai berdasarkan pendidikan terakhir dari masing-masing dosen, yaitu dosen pendidikan terakhir S3 dan dosen pendidikan terakhir S2.

>>-Bila dilihat dari kolom nilai rata-rata, dosen dengan pendidikan terakhir S3 yaitu Pak Andri Basuki dan Pak Zulfikar cenderung memberikan nilai yang lebih tinggi bila dibandingkan dengan dosen pendidikan terakhir S2 yaitu Bu Annisa Fitria dan Pak Yudi. 

>>-Bila dilihat dari nilai standar deviasi, dosen dengan pendidikan terakhir S3 yaitu Pak Andri Basuki cenderung lebih rendah dan dosen Pak Zulfikar cenderung lebih tinggi. Sedangkan dosen dengan pendidikan terakhir S2 yaitu Bu Annisa Fitria cenderung lebih tinggi dan dosen Pak Yudi cenderung lebih tinggi juga namun masih dibawah dosen S2 Bu Annisa Fitria dan dosen S3 Pak Zulfikar. 

Sehingga dapat disimpulkan bahwa terdapat perbedaan dalam pemberian nilai antara dosen, namun tidak dapat dilihat bila berdasarkan dengan pendidikan terakhir dosen.

#**Nomor 3**
Apakah terdapat perbedaan performa akademik antara mahasiswa yang berasal dari Madrasah/SMK dan SMU?

In [14]:
n2 = pd.merge(nilai,mahasiswa, how = "outer")
n2

,nim,id_mata_kuliah,NIDN,nilai,Semester,Tahun,rand,nama,email,Gender,Asal_Sekolah,Telephone,Angkatan,Asal_Daerah
0,194015,KAL01,123,70,ganjil,2019,0.50463,Muhammad Amir,Samarinda@inet.com,Pria,SMU,12345678,2019,Luar Daerah
1,194015,STA02,345,40,ganjil,2021,NaN,Muhammad Amir,Samarinda@inet.com,Pria,SMU,12345678,2019,Luar Daerah
2,194001,KAL01,123,80,ganjil,2019,NaN,Samsul Kurnia,Bontang@email.com,Pria,SMU,12345679,2019,Lokal
3,194001,KAL02,345,55,ganjil,2020,NaN,Samsul Kurnia,Bontang@email.com,Pria,SMU,12345679,2019,Lokal
4,194002,KAL01,123,85,ganjil,2019,NaN,Bambang Arifin,Sangata@inet.com,Pria,SMU,12345680,2019,Luar Daerah
5,194002,STA02,345,50,ganjil,2021,NaN,Bambang Arifin,Sangata@inet.com,Pria,SMU,12345680,2019,Luar Daerah
6,194002,KAL02,345,60,ganjil,2020,NaN,Bambang Arifin,Sangata@inet.com,Pria,SMU,12345680,2019,Luar Daerah
7,194003,KAL01,123,90,ganjil,2019,NaN,Udin,Udin@inet.com,Pria,MA,12345681,2019,Lokal
8,194004,KAL01,123,92,ganjil,2019,NaN,Iwan,Iwan@inet.com,Pria,MA,12345682,2019,Luar Daerah
9,194004,CS01,234,90,genap,2020,NaN,Iwan,Iwan@inet.com,Pria,MA,12345682,2019,Luar Daerah
10,194004,STA02,345,56,ganjil,2021,NaN,Iwan,Iwan@inet.com,Pria,MA,12345682,2019,Luar Daerah
11,194004,KAL02,345,65,ganjil,2020,NaN,Iwan,Iwan@inet.com,Pria,MA,12345682,2019,Luar Daerah
12,194005,KAL01,123,91,ganjil,2019,NaN,Bambang Arifin,Bambang Arifin@inet.com,Pria,SMK,12345683,2019,Lokal
13,194005,CS01,234,92,genap,2020,NaN,Bambang Arifin,Bambang Arifin@inet.com,Pria,SMK,12345683,2019,Lokal
14,194006,KAL01,123,93,ganjil,2019,NaN,Wati,Wati@inet.com,Wanita,SMK,12345684,2019,Lokal
15,194006,CS01,234,85,genap,2020,NaN,Wati,Wati@inet.com,Wanita,SMK,12345684,2019,Lokal
16,194007,KAL01,123,85,ganjil,2019,NaN,Ani,Ani@inet.com,Wanita,SMK,12345685,2019,Luar Daerah
17,194007,CS01,234,55,genap,2020,NaN,Ani,Ani@inet.com,Wanita,SMK,12345685,2019,Luar Daerah
18,194007,STA02,345,70,ganjil,2021,NaN,Ani,Ani@inet.com,Wanita,SMK,12345685,2019,Luar Daerah
19,194007,KAL02,345,74,ganjil,2020,NaN,Ani,Ani@inet.com,Wanita,SMK,12345685,2019,Luar Daerah
20,194008,KAL01,787,60,ganjil,2020,NaN,Rahmawati,Rahmawati@inet.com,Wanita,SMU,12345686,2020,Lokal
21,194008,CS01,234,60,genap,2020,NaN,Rahmawati,Rahmawati@inet.com,Wanita,SMU,12345686,2020,Lokal
22,194008,STA02,345,72,ganjil,2021,NaN,Rahmawati,Rahmawati@inet.com,Wanita,SMU,12345686,2020,Lokal
23,194009,KAL01,787,63,ganjil,2020,NaN,Asep,Asep@inet.com,Pria,SMU,12345687,2020,Luar Daerah
24,194009,CS01,234,91,genap,2020,NaN,Asep,Asep@inet.com,Pria,SMU,12345687,2020,Luar Daerah
25,194010,KAL01,787,62,ganjil,2020,NaN,Rina,rina@inet.com,Wanita,MA,12345688,2020,Lokal
26,194010,CS01,234,90,genap,2020,NaN,Rina,rina@inet.com,Wanita,MA,12345688,2020,Lokal
27,194011,KAL01,787,61,ganjil,2020,NaN,Sari,sari@inet.com,Wanita,MA,12345689,2020,Lokal
28,194011,STA02,345,31,ganjil,2021,NaN,Sari,sari@inet.com,Wanita,MA,12345689,2020,Lokal
29,194012,KAL01,787,70,ganjil,2020,NaN,Bowo,Bowo@inet.com,Pria,SMU,12345690,2020,Luar Daerah
30,194013,KAL01,787,90,ganjil,2020,NaN,Budi,Budi@inet.com,Pria,SMK,12345691,2020,Lokal
31,194014,KAL01,787,88,ganjil,2020,NaN,Putri,putri@inet.com,Wanita,SMK,12345692,2020,Lokal
32,194014,STA02,345,88,ganjil,2021,NaN,Putri,putri@inet.com,Wanita,SMK,12345692,2020,Lokal

In [15]:
n3 = n2[["nilai", "Asal_Sekolah"]]
n3

    nilai Asal_Sekolah
0      70          SMU
1      40          SMU
2      80          SMU
3      55          SMU
4      85          SMU
5      50          SMU
6      60          SMU
7      90           MA
8      92           MA
9      90           MA
10     56           MA
11     65           MA
12     91          SMK
13     92          SMK
14     93          SMK
15     85          SMK
16     85          SMK
17     55          SMK
18     70          SMK
19     74          SMK
20     60          SMU
21     60          SMU
22     72          SMU
23     63          SMU
24     91          SMU
25     62           MA
26     90           MA
27     61           MA
28     31           MA
29     70          SMU
30     90          SMK
31     88          SMK
32     88          SMK

In [16]:
Mahasiswa = n3.groupby(n3['Asal_Sekolah']).mean()[['nilai']]
Mahasiswa = Mahasiswa.rename({'nilai': 'mean_nilai'}, axis=1) 
Mahasiswa

              mean_nilai
Asal_Sekolah
MA             70.777778
SMK            82.818182
SMU            65.846154

**Interpretasi NOMOR 3**

>>Berdasarkan kolom rata-rata nilai diatas, mahasiswa yang berasal dari SMK memiliki nilai yang lebih tinggi dibandingkan dengan nilai rata-rata mahasiswa dari SMU dan Madrasah. Sehingga dapat disimpulkan bahwa mahasiswa yang berasal dari SMK memiliki nilai yang cenderung lebih tinggi dibandingkan dengan SMU dan Madrasah, maka dari itu mahasiswa yang berasal dari SMK memiliki performa akademik yang lebih unggul dibandingkan dengan mahasiswa yang berasal dari SMU dan Madrasah. 

Sehingga dapat disimpulkan, bahwa terdapat perbedaan performa akademik antara mahasiswa yang berasal dari Madrasah, SMK, dan SMU.

#**Nomor 4**
Apakah ada perbedaan yang nampak di data terhadap kemampuan akademik antara mahasiswa dan mahasiswi?

In [17]:
n4 = pd.merge(nilai,mahasiswa, how = "outer")
n4

,nim,id_mata_kuliah,NIDN,nilai,Semester,Tahun,rand,nama,email,Gender,Asal_Sekolah,Telephone,Angkatan,Asal_Daerah
0,194015,KAL01,123,70,ganjil,2019,0.50463,Muhammad Amir,Samarinda@inet.com,Pria,SMU,12345678,2019,Luar Daerah
1,194015,STA02,345,40,ganjil,2021,NaN,Muhammad Amir,Samarinda@inet.com,Pria,SMU,12345678,2019,Luar Daerah
2,194001,KAL01,123,80,ganjil,2019,NaN,Samsul Kurnia,Bontang@email.com,Pria,SMU,12345679,2019,Lokal
3,194001,KAL02,345,55,ganjil,2020,NaN,Samsul Kurnia,Bontang@email.com,Pria,SMU,12345679,2019,Lokal
4,194002,KAL01,123,85,ganjil,2019,NaN,Bambang Arifin,Sangata@inet.com,Pria,SMU,12345680,2019,Luar Daerah
5,194002,STA02,345,50,ganjil,2021,NaN,Bambang Arifin,Sangata@inet.com,Pria,SMU,12345680,2019,Luar Daerah
6,194002,KAL02,345,60,ganjil,2020,NaN,Bambang Arifin,Sangata@inet.com,Pria,SMU,12345680,2019,Luar Daerah
7,194003,KAL01,123,90,ganjil,2019,NaN,Udin,Udin@inet.com,Pria,MA,12345681,2019,Lokal
8,194004,KAL01,123,92,ganjil,2019,NaN,Iwan,Iwan@inet.com,Pria,MA,12345682,2019,Luar Daerah
9,194004,CS01,234,90,genap,2020,NaN,Iwan,Iwan@inet.com,Pria,MA,12345682,2019,Luar Daerah
10,194004,STA02,345,56,ganjil,2021,NaN,Iwan,Iwan@inet.com,Pria,MA,12345682,2019,Luar Daerah
11,194004,KAL02,345,65,ganjil,2020,NaN,Iwan,Iwan@inet.com,Pria,MA,12345682,2019,Luar Daerah
12,194005,KAL01,123,91,ganjil,2019,NaN,Bambang Arifin,Bambang Arifin@inet.com,Pria,SMK,12345683,2019,Lokal
13,194005,CS01,234,92,genap,2020,NaN,Bambang Arifin,Bambang Arifin@inet.com,Pria,SMK,12345683,2019,Lokal
14,194006,KAL01,123,93,ganjil,2019,NaN,Wati,Wati@inet.com,Wanita,SMK,12345684,2019,Lokal
15,194006,CS01,234,85,genap,2020,NaN,Wati,Wati@inet.com,Wanita,SMK,12345684,2019,Lokal
16,194007,KAL01,123,85,ganjil,2019,NaN,Ani,Ani@inet.com,Wanita,SMK,12345685,2019,Luar Daerah
17,194007,CS01,234,55,genap,2020,NaN,Ani,Ani@inet.com,Wanita,SMK,12345685,2019,Luar Daerah
18,194007,STA02,345,70,ganjil,2021,NaN,Ani,Ani@inet.com,Wanita,SMK,12345685,2019,Luar Daerah
19,194007,KAL02,345,74,ganjil,2020,NaN,Ani,Ani@inet.com,Wanita,SMK,12345685,2019,Luar Daerah
20,194008,KAL01,787,60,ganjil,2020,NaN,Rahmawati,Rahmawati@inet.com,Wanita,SMU,12345686,2020,Lokal
21,194008,CS01,234,60,genap,2020,NaN,Rahmawati,Rahmawati@inet.com,Wanita,SMU,12345686,2020,Lokal
22,194008,STA02,345,72,ganjil,2021,NaN,Rahmawati,Rahmawati@inet.com,Wanita,SMU,12345686,2020,Lokal
23,194009,KAL01,787,63,ganjil,2020,NaN,Asep,Asep@inet.com,Pria,SMU,12345687,2020,Luar Daerah
24,194009,CS01,234,91,genap,2020,NaN,Asep,Asep@inet.com,Pria,SMU,12345687,2020,Luar Daerah
25,194010,KAL01,787,62,ganjil,2020,NaN,Rina,rina@inet.com,Wanita,MA,12345688,2020,Lokal
26,194010,CS01,234,90,genap,2020,NaN,Rina,rina@inet.com,Wanita,MA,12345688,2020,Lokal
27,194011,KAL01,787,61,ganjil,2020,NaN,Sari,sari@inet.com,Wanita,MA,12345689,2020,Lokal
28,194011,STA02,345,31,ganjil,2021,NaN,Sari,sari@inet.com,Wanita,MA,12345689,2020,Lokal
29,194012,KAL01,787,70,ganjil,2020,NaN,Bowo,Bowo@inet.com,Pria,SMU,12345690,2020,Luar Daerah
30,194013,KAL01,787,90,ganjil,2020,NaN,Budi,Budi@inet.com,Pria,SMK,12345691,2020,Lokal
31,194014,KAL01,787,88,ganjil,2020,NaN,Putri,putri@inet.com,Wanita,SMK,12345692,2020,Lokal
32,194014,STA02,345,88,ganjil,2021,NaN,Putri,putri@inet.com,Wanita,SMK,12345692,2020,Lokal

In [18]:
n5 = n4[['nilai', 'Gender']]
n5

    nilai  Gender
0      70    Pria
1      40    Pria
2      80    Pria
3      55    Pria
4      85    Pria
5      50    Pria
6      60    Pria
7      90    Pria
8      92    Pria
9      90    Pria
10     56    Pria
11     65    Pria
12     91    Pria
13     92    Pria
14     93  Wanita
15     85  Wanita
16     85  Wanita
17     55  Wanita
18     70  Wanita
19     74  Wanita
20     60  Wanita
21     60  Wanita
22     72  Wanita
23     63    Pria
24     91    Pria
25     62  Wanita
26     90  Wanita
27     61  Wanita
28     31  Wanita
29     70    Pria
30     90    Pria
31     88  Wanita
32     88  Wanita

In [19]:
Gender = n5.groupby(n5['Gender']).mean()[['nilai']]
Gender = Gender.rename({'nilai': 'mean_nilai'}, axis=1) 
Gender

        mean_nilai
Gender
Pria     73.888889
Wanita   71.600000

**Interpretasi NOMOR 4:**

>>Berdasarkan tabel nilai rata-rata diatas didapat nilai dan gender (Mahasiswa atau Pria dan Mahasiswi atau Wanita). Kemudian didapat bahwa mahasiswa (Pria) memiliki nilai rata-rata yang cenderung lebih tinggi dibandingkan dengan mahasiswi (Wanita).  

Sehingga dapat dilihat bahwa adanya perbedaan kemampuan akademik antara mahasiswa (Pria) dengan mahasiswi( Wanita), dan dapat disimpulkan bahwa kemampuan akademik mahasiswa (Pria) cenderung lebih unggul atau tinggi dibandingkan dengan mahasiswi (Wanita).

#**Nomor 5**
Apakah ada perbedaan prestasi akademik yang nampak di data antar angkatan mahasiswa?

In [20]:
n6 = pd.merge(nilai,mahasiswa, how = 'outer')
n6

,nim,id_mata_kuliah,NIDN,nilai,Semester,Tahun,rand,nama,email,Gender,Asal_Sekolah,Telephone,Angkatan,Asal_Daerah
0,194015,KAL01,123,70,ganjil,2019,0.50463,Muhammad Amir,Samarinda@inet.com,Pria,SMU,12345678,2019,Luar Daerah
1,194015,STA02,345,40,ganjil,2021,NaN,Muhammad Amir,Samarinda@inet.com,Pria,SMU,12345678,2019,Luar Daerah
2,194001,KAL01,123,80,ganjil,2019,NaN,Samsul Kurnia,Bontang@email.com,Pria,SMU,12345679,2019,Lokal
3,194001,KAL02,345,55,ganjil,2020,NaN,Samsul Kurnia,Bontang@email.com,Pria,SMU,12345679,2019,Lokal
4,194002,KAL01,123,85,ganjil,2019,NaN,Bambang Arifin,Sangata@inet.com,Pria,SMU,12345680,2019,Luar Daerah
5,194002,STA02,345,50,ganjil,2021,NaN,Bambang Arifin,Sangata@inet.com,Pria,SMU,12345680,2019,Luar Daerah
6,194002,KAL02,345,60,ganjil,2020,NaN,Bambang Arifin,Sangata@inet.com,Pria,SMU,12345680,2019,Luar Daerah
7,194003,KAL01,123,90,ganjil,2019,NaN,Udin,Udin@inet.com,Pria,MA,12345681,2019,Lokal
8,194004,KAL01,123,92,ganjil,2019,NaN,Iwan,Iwan@inet.com,Pria,MA,12345682,2019,Luar Daerah
9,194004,CS01,234,90,genap,2020,NaN,Iwan,Iwan@inet.com,Pria,MA,12345682,2019,Luar Daerah
10,194004,STA02,345,56,ganjil,2021,NaN,Iwan,Iwan@inet.com,Pria,MA,12345682,2019,Luar Daerah
11,194004,KAL02,345,65,ganjil,2020,NaN,Iwan,Iwan@inet.com,Pria,MA,12345682,2019,Luar Daerah
12,194005,KAL01,123,91,ganjil,2019,NaN,Bambang Arifin,Bambang Arifin@inet.com,Pria,SMK,12345683,2019,Lokal
13,194005,CS01,234,92,genap,2020,NaN,Bambang Arifin,Bambang Arifin@inet.com,Pria,SMK,12345683,2019,Lokal
14,194006,KAL01,123,93,ganjil,2019,NaN,Wati,Wati@inet.com,Wanita,SMK,12345684,2019,Lokal
15,194006,CS01,234,85,genap,2020,NaN,Wati,Wati@inet.com,Wanita,SMK,12345684,2019,Lokal
16,194007,KAL01,123,85,ganjil,2019,NaN,Ani,Ani@inet.com,Wanita,SMK,12345685,2019,Luar Daerah
17,194007,CS01,234,55,genap,2020,NaN,Ani,Ani@inet.com,Wanita,SMK,12345685,2019,Luar Daerah
18,194007,STA02,345,70,ganjil,2021,NaN,Ani,Ani@inet.com,Wanita,SMK,12345685,2019,Luar Daerah
19,194007,KAL02,345,74,ganjil,2020,NaN,Ani,Ani@inet.com,Wanita,SMK,12345685,2019,Luar Daerah
20,194008,KAL01,787,60,ganjil,2020,NaN,Rahmawati,Rahmawati@inet.com,Wanita,SMU,12345686,2020,Lokal
21,194008,CS01,234,60,genap,2020,NaN,Rahmawati,Rahmawati@inet.com,Wanita,SMU,12345686,2020,Lokal
22,194008,STA02,345,72,ganjil,2021,NaN,Rahmawati,Rahmawati@inet.com,Wanita,SMU,12345686,2020,Lokal
23,194009,KAL01,787,63,ganjil,2020,NaN,Asep,Asep@inet.com,Pria,SMU,12345687,2020,Luar Daerah
24,194009,CS01,234,91,genap,2020,NaN,Asep,Asep@inet.com,Pria,SMU,12345687,2020,Luar Daerah
25,194010,KAL01,787,62,ganjil,2020,NaN,Rina,rina@inet.com,Wanita,MA,12345688,2020,Lokal
26,194010,CS01,234,90,genap,2020,NaN,Rina,rina@inet.com,Wanita,MA,12345688,2020,Lokal
27,194011,KAL01,787,61,ganjil,2020,NaN,Sari,sari@inet.com,Wanita,MA,12345689,2020,Lokal
28,194011,STA02,345,31,ganjil,2021,NaN,Sari,sari@inet.com,Wanita,MA,12345689,2020,Lokal
29,194012,KAL01,787,70,ganjil,2020,NaN,Bowo,Bowo@inet.com,Pria,SMU,12345690,2020,Luar Daerah
30,194013,KAL01,787,90,ganjil,2020,NaN,Budi,Budi@inet.com,Pria,SMK,12345691,2020,Lokal
31,194014,KAL01,787,88,ganjil,2020,NaN,Putri,putri@inet.com,Wanita,SMK,12345692,2020,Lokal
32,194014,STA02,345,88,ganjil,2021,NaN,Putri,putri@inet.com,Wanita,SMK,12345692,2020,Lokal

In [21]:
n7 = n6[['nilai', 'Angkatan']]
n7

    nilai  Angkatan
0      70      2019
1      40      2019
2      80      2019
3      55      2019
4      85      2019
5      50      2019
6      60      2019
7      90      2019
8      92      2019
9      90      2019
10     56      2019
11     65      2019
12     91      2019
13     92      2019
14     93      2019
15     85      2019
16     85      2019
17     55      2019
18     70      2019
19     74      2019
20     60      2020
21     60      2020
22     72      2020
23     63      2020
24     91      2020
25     62      2020
26     90      2020
27     61      2020
28     31      2020
29     70      2020
30     90      2020
31     88      2020
32     88      2020

In [22]:
Angkatan = n7.groupby(n7['Angkatan']).mean()[['nilai']]
Angkatan = Angkatan.rename({'nilai': 'mean_nilai'}, axis=1) 
Angkatan

          mean_nilai
Angkatan
2019       73.900000
2020       71.230769

**Interpretasi NOMOR 5:**

>>Berdasarkan data diatas, nilai rata-rata mahasiswa angkatan 2019 cenderung lebih tinggi dibandingkan dengan nilai rata-rata mahasiswa dari angkatan 2020.

Sehingga dapat disimpulkan bahwa adanya perbedaan prestasi akademik diantara mahasiswa angkatan 2019 dengan mahasiswa angkatan 2020, namun perbedaan prestasi tersebut hanya memiliki selisih yang tidak begitu besar.

#**Nomor 6**
Apakah ada permasalahan di data atau informasi lain yang anda temukan di data?


*   Dari tabel nilai terdapat variabel rand yang berisi NaN. Karena banyak NaN pada variabel rand, maka variabel rand tidak perlu digunakan dalam permasalahan di atas.
*   Terdapat beberapa variabel yang tidak diperlukan, yaitu : email, telephone, asal daerah, SKS dan semester. Karena informasi yang diberikan tidak relevan dalam menyelesaikan masalah di atas. 
*   Terdapat beberapa tabel yang tidak diperlukan, yaitu : tabel krs dan tabel kelas. Karena informasi yang diberikan tidak cukup dalam menyelesaikan masalah di atas.

**KESIMPULAN**<br>
Berdasarkan dari pengolahan data diatas dapat disimpulkan bahwa terdapat perbedaan dalam pemberian nilai antara dosen lulusan S3 dengan dosen lulusan S2, namun tidak dapat disimpulkan bila dilihat berdasarkan pendidikan terakhir dosen.

Selain itu, terdapat perbedaan dalam bidang akademik dengan berbagai kategori, yaitu :
1.   Adanya perbedaan performa akademik antara mahasiswa Madrasah, SMK, SMU.
2.   Adanya perbedaan terhadap kemampuan akademik antara Mahasiswa (Pria) dan Mahasiswi (Wanita).
3.   Adanya perbedaan prestasi akademik antar angkatan Mahasiswa (angkatan 2019 dan 2020).

Selain itu, terdapat tabel yang tidak digunakan yaitu tabel KRS dan tabel kelas karena tidak dibutuhkan. Adapula variabel yang tidak digunakan yaitu variabel email, telephone dan asal daerah.